<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 联⽹权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 联⽹权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 检测当前⽹络状态是2G、3G、4G还是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测当前⽹络状态是2G、3G、4G还是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取设备标识IMEI。⽤于标识⽤户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备标识IMEI。⽤于标识⽤户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读写存储权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 读写存储权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage"
        tools:node="replace" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:node="replace"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" /> <!-- 获取MAC地址，⽤于标识⽤户 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 获取MAC地址，⽤于标识⽤户 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 安装应⽤权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 安装应⽤权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 定位权限，不强制要求 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 定位权限，不强制要求 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MVVMDemo"
        tools:targetApi="31">
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RewardAdActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashAdActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
    </application>

</manifest>